#ravi_main_div{
    border: 5px solid blue;
    width: 100%;
    height:1000px;
   
}

.ravi_heading1{
    border: 2px solid blue;
    width: 50%;
    height:40px;
    text-align: center;
    margin: auto;
    
}

#ravi_div1{
    border: 2px solid blue;
    width: 50%;
    height:300px;
    text-align: center;
    margin: auto;
}

.ravi_input_email{
    width: 100px;
    border: 2px solid red;
}